#title-section {
    padding: 5% 10% 0% 10%;
    text-align: center;
}

#middle-section {
    padding: 0% 15% 5% 15%
}

hr{
    border-top: 5px solid #0275d8;
    border-radius: 5px;
    width: 50%;
    margin-center: 0;
}

.navbar-custom {
    background-color: #0275d8;
}

c {
    color:  #de7030 ;
}

body {
    background-image: url('orange-blue-cupboard.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

video {
    text-align: center;
}

#footer {
    padding: 3% 15%;
    text-align: center;
    background-color: #0275d8;
    color: #fff;
}

.social-icon {
    margin: 20px 6px
}